@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: #EFCFC3; font-weight: bold; font-style: italic">
        Welcome to Task Board!
    </h1>
</div>
