@model IEnumerable<TaskViewModel>

@foreach (var task in Model)
{
    <div class="card mt-2" style="width: 20rem; background-color: transparent; border-color: transparent">
        <ul class="list-group list-group-flush">

            <li class="list-group-item" style="background-color: #EFCFC3;"><span class="fw-bold">Title: </span> @task.Title</li>
            <li class="list-group-item"><span class="fw-bold">Description: </span> : @task.Description</li>
            <li class="list-group-item"><span class="fw-bold">Owner: </span> @task.OwnerUsername</li>
            <li class="list-group-item">
                <a asp-controller="Tasks" asp-action="Details" asp-route-id="@task.Id" class="btn btn-success mt-2 mb-2">Details</a>
            </li>
        </ul>
    </div>
}