@model List<string>

@{
    ViewData["Title"] = "Boards";
}

<div class="text-center">
    <h1 class="display-4" style="color: #EFCFC3; font-weight: bold; font-style: italic">
        @ViewData["Title"]
    </h1>
    @{
        if(@ViewBag.UserMessage != null)
        {
            <h3><i style="color: yellow; background-color: green; border-radius: 5px;">
                @ViewBag.UserMessage</i>
            </h3>
        }
        <br/>
        if(Model == null && Model?.Count() <= 0)
        {
            <h2 style="color: white; font-weight: bold">
                There is no boards.
            </h2>   
        } 
        else
        {
            
            <div class="row mb-2">
                <div class="col-md-4 mx-auto" style="color: whitesmoke; text-align: center; backdrop-filter: blur(15px); border: 2px solid; border-color: #EFCFC3; border-radius: 35px">
                @foreach(string boardName in Model)
                {
                <h4 style="font-weight: bold;">
                    @boardName
                </h4>
                }
                </div>
            </div>
        }  
    }
    <div>
        <a class="btn btn-success" asp-controller="Boards" asp-action="Create">Create new board</a>
    </div>
</div>
